@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pure-white: #ffffff;
  --cream: #f2eae2;
  --gray: #6c7289;
  --deep-aquamarine: #3d8168;
  --hover-deep-aquamarine: #1a4032;
  --blackish: #1c232b;
}

body {
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 375px;
  height: 667px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 343px;
  height: 611px;
  background-color: var(--pure-white);
  border-radius: 10px;
  background-image: url(./resources/perfume\ mob.svg);
  background-repeat: no-repeat;
}

h1 {
  font-family: "Fraunces";
  font-size: 32px;
  color: var(--blackish);
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}

p {
  font-family: "Montserrat";
  font-weight: 500;
  color: var(--gray);
}

h2 {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 32px;
  color: var(--deep-aquamarine);
}

button {
  width: 295px;
  height: 48px;
  background-color: var(--deep-aquamarine);
  border-radius: 8px;
  font-family: "Montserrat";
  color: var(--pure-white);
  border: none;
  font-weight: 700;
  font-size: 14px;
  background-image: url(./resources/Shape.svg);
  background-position: 29% 50%;
  background-repeat: no-repeat;
}

.information {
  padding: 15px 24px 24px 24px;
  margin-top: 240px;
}

.perfume {
  background-image: url(./resources/perfume\ mob.svg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 3px 5px 0px rgba(8, 70, 94, 0.504835);
}

.top {
  font-size: 12px;
  letter-spacing: 5px;
  margin-bottom: 12px;
}

.description {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 24px;
}

.pay {
  display: flex;
  margin-bottom: 20px;
}

.money {
  font-size: 13px;
  text-decoration-line: line-through;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 19px;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1440px;
    height: 800px;
  }

  .item {
    width: 600px;
    height: 450px;
    background-image: url(./resources/perfume\ desk.svg);
    background-repeat: no-repeat;
    display: flex;
  }

  .perfume {
    /* display: none; */
  }

  .information {
    width: 300px;
    height: 450px;
    margin: auto;
    margin-left: 307px;
    margin-top: 15px;
  }

  .top {
    margin-bottom: 20px;
  }

  .description {
    margin-top: 24px;
    margin-bottom: 29px;
  }

  .pay {
    margin-bottom: 25px;
  }

  button {
    width: 236px;
    height: 48px;
    background-position: 23% 50%;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--hover-deep-aquamarine);
  }
}
